/* this applies to all text in the body */
body {
  font-size: 14px;
}
/* this pertains only to the navigation */
nav {
  background-color: yellow;
  height: 100px;
  margin-top: -10px;
  position: fixed;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}
/* this applies to all header 1 */
h1 {
  font-family: sans-serif;
  font-size: 2em;
}

.example, h3 {
  padding-top: 30px;
  text-align: center;
}
/* this applies to all header 3 */
h3 {
  font-size: 1.3em;
}
/* this applies to all elements */
.element {
  background-color: green;
  height: 100px;
  margin: 10px 0;
  width: 100%;
}

/* this changes the color of the last 3 elements */
#seven {
  background-color: aquamarine;
}

#eight {
  background-color: orangered;
}

#nine {
  background-color: palegreen;
}